body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

p,h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* ------------------HEADER------------------------- */

.header {
    border-bottom:1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav-header {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.div-header {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-right: 76px;
}

.studio-span {
    color: #2e2f42;
}

.menu-header {
    display: flex;
    gap: 40px;
    display: none;

}

.header-menu-link {
padding-top: 24px;
padding-bottom: 24px;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #2e2f42;
display: block;
position: relative;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
    color: #404bbf;
}


.contacts {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.header-menu-link:hover {
    color: #404bbf;
}

.header-menu-link:focus {
    color: #404bbf;
    position: relative;
}

.header-menu-link.current::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0px;
    bottom: -1px;
}

.adress {
    font-style: normal;
    display: none;
}

.adress-link {
    display: flex;
    gap: 40px;
}

.contacts:hover {
    color: #404bbf;
}

.contacts:focus {
    color: #404bbf;
}

.close-btn-head {
background-color: transparent;
border: none;
}

.close-svg-head {
    fill: #2f2f37;
}



.mob-menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    padding: 24px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.mob-wrap {
    
}

.menu-close-btn {
    width: 24px;
display: block;
margin-left: auto;
top: 24px;
right: 24px;
border-radius: 50%;
cursor: pointer;
background-color: transparent;
height: 24px;
display: flex;
align-items: center;
justify-content: center;
padding: 0;
border-color: #e7e9fc;
margin-bottom: 24px;
}
.mob-close {
    fill: #2e2f42;
}
.mob-menu-header {
    
    
}



.mob-menu-item {

}

.mob-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-hed-soc {
    margin-top: auto;
}

.mob-adress {
    margin-bottom: 48px;
}

.mob-menu-text {
    color: #2e2f42;
    text-decoration:none;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
}

.mob-menu-text:hover {
    color: #404bbf;
}

.mob-menu-text:focus {
    color: #404bbf;
    position: relative;
}

.mob-adress-item {
    font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: #4d5ae5;
}

.mob-adress-item:not(:last-child) {
    margin-bottom: 24px;
}

.mobcontacts {
    font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: #434455;
}

.mobcontacts:hover {
    color: #404bbf;
}

.mobcontacts:focus {
    color: #404bbf;
}

.moblist-soc-svg {
    display: flex;
    gap: 40px;

}
.mobsoc-svg-item {
    fill: #fff;
    border-radius: 50%;
display: block;
border: none;
cursor: pointer;
background-color: #4d5ae5;
width: 40px;
height: 40px;
text-align: center;
padding: 12px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: flex;
align-items: center;
justify-content: center;
}
.mobitem-soc-svg {
}

.mobsvg {
    fill: transparent;
    stroke: #FFFFFF;
}


/* ------------------------------------------------ */

/* ------------------HERO------------------------- */
.hero {
    width: 100%;
    padding-top: 72px;
    padding-bottom: 72px;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}


@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution:192dpi) {
    .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-mobile2x.jpg); 
    }
}


.hero-container {
    
}


.hero-title {
margin-bottom: 48px;
margin-left: auto;
margin-right: auto;
max-width: 496px;
font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
}

.hero-btn {
margin-left: auto;
margin-right: auto;
display: block;
border: none;
min-width: 169px;
font-weight: 500px;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;
background-color: #4d5ae5;
border-radius: 4px;
width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
background-color: #404BBF;
}

.hero-btn:focus {
    background-color: #404BBF;
}
/* ------------------------------------------------ */

/* ------------------Peculiarities------------------------- */

.peculiarities {
    width: 100%;
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.container-peculiarities {
    
}


.peculiarities-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}
.peculiarities-item {
    padding-right: 16px;
    /* flex-basis: calc((100% - 72px)/4); */
}

.peculiarities-svg {
    border: 1px solid #8e8f99;
border-radius: 4px;
width: 264px;
height: 112px;
background: #f4f4fd;
}


.peculiarities-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}
.peculiarities-item-text {
    font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}

.container-peculiaritie-svg {
display: none;
}


/* ------------------------------------------------ */

/* ------------------Team------------------------- */

.team {
background-color: #f4f4fd;
padding-top: 96px;
padding-bottom: 96px;
}

.container-team {
padding-left: 28px;
padding-right: 28px;
}

.title {
font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.team-item {    
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.people {
padding-top: 32px;
padding-bottom: 32px;
}

.team-img {
}

.team-subtitle {
    font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-align: center;
margin-bottom: 8px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
text-align: center;
}

.list-soc-svg {
    display: flex;
    gap: 24px;
    padding: 8px 16px;
    justify-content: center;
}


.item-soc-svg {
    fill: #fff;
    border-radius: 50%;
display: block;
border: none;
cursor: pointer;
background-color: #4d5ae5;
width: 40px;
height: 40px;
text-align: center;
padding: 12px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: flex;
align-items: center;
justify-content: center;
}

.svg {
    fill: #f4f4fd;
}

.item-soc-svg:hover {
    background-color: #404bbf;
    }
    
    .item-soc-svg:focus {
        background-color: #404bbf;
    }

/*--------------------our-portfolio---------------------------*/

.our-portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}

.container-portfolio {

}

.portfolio {
font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    
}

.portfolio-item {
    width: 100%;
    position: relative;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.name-app {
    margin-bottom: 8px;
    font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-cover-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-cover-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    height: 100%;
    padding: 40px 32px;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.portfolio-item:hover .portfolio-cover-text {
    transform: translateY(0);
}

/* ------------------------------------------------ */

/* ------------------FOOTER------------------------- */

.footer {
    width: 100%;
    height: 664px;
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
    display: block;
    unicode-bidi: isolate;
}

.container-footer {
/* flex-direction: row; */
display: flex;
flex-wrap: wrap;
align-items: baseline;
padding-left: 16px;
padding-right: 16px;
}

.container-logo {
    display: block;
    /* margin-right: 120px; */
    text-align: center;
    justify-content: center;
    margin-bottom: 72px;
}

.footer-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px; 
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
display: inline-block;
margin-bottom: 16px;
}

.footer-text {
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #f4f4fd; 
max-width: 264px;
}

.studio {
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
}



.footer-soc {
    flex-direction: row;
    margin-bottom: 72px;
    
}

.footer-text-soc {
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
}

.footer-list-soc {
    gap: 16px;
    display: flex;
}

.svg-footer {
    
}

.item-soc-svg-footer {
    border-radius: 50%;
border: none;
color: #fff;
cursor: pointer;
background-color: #4d5ae5;
width: 40px;
height: 40px;
text-align: center;
padding: 8px;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.item-soc-svg-footer:hover {
    background-color: #31d0aa;
    }
    
    .item-soc-svg-footer:focus {
        background-color: #31d0aa;
    }


.footer-subscribe {
    /* margin-left: 78px; */
}

.footer-form {
display: flex;
gap: 24px;
}

.footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding: 0 8px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
}

.footer-input::placeholder {
    font-weight: 400;
font-size: 12px;
line-height: 200%;
letter-spacing: 0.04em;
color: #fff;
}

.footer-form-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
min-width: 165px;
border-radius: 4px;
height: 40px;
background: #4d5ae5;
border: none;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
display: flex;
justify-content: center;
align-items: center; 
cursor: pointer;
}

.footer-form-btn-svg {
    fill: #fff;
    margin-left: 16px;
}




    /* ------------------Modal------------------------ */

    .backdrop {
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
        position: fixed;
        top: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        /* display: flex;
        align-items: center;
        justify-content: center; */
    }

    .is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }


    .modal {
        position: absolute;
        border-radius: 4px;
        width: 408px;
        min-height: 584px;
        background: #fcfcfc;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 72px 24px 24px 24px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    .modal-close {
        width: 24px;
        position: absolute;
        top: 24px;
        right: 24px;
        border-radius: 50%;
        cursor: pointer;
        background-color: #e7e9fc;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(0, 0, 0, 0.1); 
        padding: 0;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-close:hover {
        background-color: #404BBF;
        border: none;
    }

    .modal-close:focus {
        background-color: #404bbf;
        border: none;
    }


    .modal-close-svg {
        fill: #2e2f42;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-close:hover > .modal-close-svg, .modal-close:focus > .modal-close-svg {
        fill: #FFFFFF;
    }




    .modal-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 16px;
    }

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-bottom: 8px;
    padding-left: 38px;
    color: #404BBF;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input:focus + .modal-icon {
    fill: #4D5AE5;
}

.modal-input::placeholder {
}

.modal-input-comment {
width: 360px;
height: 120px;
}



/* .model-input:valid {
    background-color: #31d04e;
}

.model-input:invalid {
    background-color: #5d0505;
} */

.modal-field-wraper {
    position: relative;
    margin-bottom: 8px;
}

.modal-field-wrap {
    position: relative;
    margin-bottom: 16px;
}

/* .modal-field-wrap-comment {
    margin-bottom: 16px;
} */


.modal-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;

}

.div-modal-label {
    position: relative;
    
}

.modal-icon {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-textarea {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-bottom: 8px;
    padding: 12px 16px;
    color: #404BBF;
    outline: transparent;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-textarea:focus {
    border-color: #4D5AE5;
}




.btn-send-all {
    font-family: "Roboto", sans-serif;
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    min-width: 169px;
    margin: 0 auto;
    margin-top: 24px;
    border-radius: 4px;
    padding: 16px 32px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.btn-send-all-text {
    font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
display: inline-flex;
}

/* .btn-send-all:disabled {
    background-color: #8e8f99  ;
} */

.modal-field-wrap-check {
    margin-bottom: 24px;
}


.modal-chec-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    align-items: center;
}

.modal-chec-text-span {
    display: inline-flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-chec-text span {
width: 16px;
height: 16px;
border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
margin-right: 12px;
display: inline-flex;
align-items: center;
justify-content: center;
fill: transparent;
}

.modal-check:checked + .modal-chec-text span {
    background-color: #404BBF;
    border: none;
    fill: #f4f4fd;
}

.privacy-policy {
    color: #4d5ae5;
    margin-left: 5px;
}



/* .check-icon {
    fill: #f4f4fd;

} */


@media screen and (min-width:768px) {
    .container {
        width: 768px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .menu-header {
        display: flex;
    }
    
    .adress {
        display: block;
    }

    .adress-link {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    }

    .adress-item {
        color: #434455;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        transition: color cubic-bezier(0.4, 0, 0.2, 1);
    }
        

    .close-btn-head {
        display: none;
    }

    .mob-menu {
        display: none;
    }

/* ------------------HERO------------------------- */
.hero {
    width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-tab.jpg); 
}



@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution:192dpi) {
    .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-tablet2x.jpg); 
    }
}


/* ------------------Peculiarities------------------------- */
    .peculiarities {
        
    }

    .peculiarities-list {
        gap: 24px 72px;
    }
    
    .peculiarities-item {
        padding-right: 0;
        width: calc((100% - 72px) / 2);
        
    }

    .peculiarities-subtitle {
        text-align: left;
    }
/* ------------------Team------------------------- */
.team {
padding-top: 120px;
padding-bottom: 120px;
}

.container-team {
    
}


.team-item {
    width: calc((100% - 72px) / 2);
}

.team-img {
    width: 100%;
}



/*--------------------our-portfolio---------------------------*/

    .our-portfolio {
        padding-top: 99px;
        padding-bottom: 93px;
    }

    .portfolio-item  {
        width: calc((100% - 48px) / 2);  
    }

/* ------------------FOOTER------------------------- */

.footer {
    padding-top: 101px;
    padding-bottom: 99px;
}

.container-footer {
    
}

.container-logo-soc {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.footer-subscribe {
    margin-bottom: 96px;
}



@media screen and (min-width:1158px) {
    .container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .menu-header {
        display: flex;
    }
    
    .adress {
        display: flex;
    }

    .adress-link {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .close-btn-head {
        display: none;
    }

    .mob-menu {
        display: none;
    }
    /* ------------------HERO------------------------- */
    .hero {
        max-width: 1440px;
        padding-top: 188px;
        padding-bottom: 188px;
        background-color: #2e2f42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
    }

    @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution:192dpi) {
        .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-pc-2x.jpg); 
        }
    }

    .hero-title {
        font-size: 56px;
        line-height: 107%;  
    }


/* ------------------Peculiarities------------------------- */

    .peculiarities {
        padding-top: 120px;
        padding-bottom: 120px; 
    }


    .peculiarities-item {
        width: calc((100% - 4 * 72px)/4);
    }

    .peculiarities-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        text-align: left;
        }

        .peculiarities-item-text {
            font-weight: 400;
        }

        .container-peculiaritie-svg {
            border: 1px solid #8e8f99;
            border-radius: 4px;
            width: 264px;
            height: 112px;
            background: #f4f4fd;
            text-align: center;
            padding-top: 24px;
            margin-bottom: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        /* ------------------Team------------------------- */
        .team {
            padding-top: 120px;
            padding-bottom: 120px;
            }
        
        
        
        .team-item {
            width: calc((100% - 72px) / 4);
        }

        /*--------------------our-portfolio---------------------------*/

    .our-portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }

        .portfolio-list {
            gap: 24px 48px;
            column-gap: 24px;
            row-gap: 48px;
            
        }
    
        

        .portfolio-item  {
            width: calc((100% - 48px) / 3);   
        }

/* ------------------FOOTER------------------------- */
    .footer {
        width: 1440px;
        height: 312px;
        padding-top: 100px;
    padding-bottom: 100px;
    } 

    .container-footer {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .container-logo {
        margin-right: 120px;
    }

    .footer-soc {
        margin-bottom: 99px;
    }

    .footer-subscribe {
        margin-left: 78px;
    }
}